.home-item {
  width: 100%;
  max-height: 96px;
  display: flex;
  border-bottom: 1px solid #f1f2f3;
}

.home-item__image {
  width: 80px;
  height: 80px;
  background-color: #f1f2f3;
  margin-top: 8px;
  margin-left: 8px;
}

.home-item__image img {
  width: 100%;
}

.home-item__info-name {
  font-family: 'Roboto';
  font-weight: 900;
  letter-spacing: 1px;
  line-height: 22px;
}

.home-item__info-desc {
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
}